.App {
    padding-left: 69px;
    padding-right: calc(69px - 14px);
    font-family: 'Roboto';
}

@media (max-width: 480px) {
    .App {
        padding-top: 61px;
        padding-left: 28px;
        padding-right: calc(28px);
    }
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #fea62a #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #fea62a;
    border-radius: 10px;
    border: 3px solid #fea62a;
  }